body{background-color:skyblue;
    background-image:url(../img/backgroundv2.png);
    height:400px;}

#canvas{border:2px solid transparent;
        width:400px;
        height:10000px;
        margin:0 auto;
        position:relative;
        top:100px;
        }

#ball{border:none;
         width:30px;
         height:30px;
         color:white;
         margin:0 auto;
         border:2px solid blue;
         position:absolute;
         //top:123px;
         //right:123px;
         left:305px;
         z-index:03;

         border-radius:100%;
         //animation: bouncing 1s infinite;
         background-image: url(../img/ball2.png);
      }
//@keyframes bouncing {

  50%{left:320px;}

}

#header{margin-top:10px;
   border:none;
   font-size:48px;
   font-family:"Comic Sans MS", cursive, sans-serif;
   position:absolute;
   top:90px;
   left:35px;
   background-color:none;
  }
//h1:hover{transform:scale(4,4);}

#header2{margin-top: 15px;
  border:none;
   font-size:48px;
   font-family:"Comic Sans MS", cursive, sans-serif;
   position:absolute;
   top:90px;
   right:50px;
   background-color:none;
   transition:rotate 1s;
   opacity:100;}
   
 #note{position:absolute;
       font-family:"Comic Sans MS", cursive, sans-serif;
       top:200px;
       left:200px;}


#p1{border:none;
    top:1100px;
    left:35px;
    font-size:30px;
    float:left;
    position:absolute;
    }
#p1_2{border:none;
      position:absolute;
      width:120px;
      top:1290px;
      left:260px;
      font-size:30px;
      transition: 1s;}
#p1_2:hover{transform:rotate(-45deg);
            }


#p2{border:none;
    width:120px;
    font-size:24px;
    position:absolute;
    left:260px;
    margin-top:-100px;}

#p3{border:none;
   opacity:0;
   color:white;
   font-family:"Comic Sans MS", cursive, sans-serif;
   width:85px;
   height:150px;
   left:300px;
   margin-top:3520px;
   position:absolute;
   transition:1s;
   transition-delay:1.5s;}
#p4{position:absolute;
   margin-top:3800px;
   font-size: 24px;
   z-index:14;
   font-family:"Comic Sans MS", cursive, sans-serif;
   color:white;}
   
#p5{border:none;
   width:160px;
   height:50px;
   margin-top:4848px;
   position:absolute;
   color:lightgreen;
   z-index:15;
   font-size:23px;
   left:50px;
   opacity:0;
   animation:blink 1s infinite;
}
#p5:hover{opacity:100;
}

//relative, absolute, fixed, static

#icon{width:300px;
      border:1px solid green;
      top:200px;
      position:absolute;}

#header2{border:none;
  width:40px;
  ;}
//#header2:hover{transform:rotate(120deg);}

#wrapper{margin-top:1466px}
#bumper1{width:100px;
      height:100px;
       background-image:url(../img/pinball.png);
       }
#bumper2{//float:right;
        margin-left:290px;
        
        margin-top:120px;
        width:100px;
        height:100px;
        background-image:url(../img/pinball.png);
        transition:0s;
        }
#bumper3{
          //float:left;
         margin-top:100px;
        //margin-right:50px;
        width:100px;
        height:100px;
        background-image:url(../img/pinball.png);
      transition:0s;
      }
#bumper4{//float:right;
        //border:solid black;
        margin-top:100px;
        width:100px;
        margin-left:290px;
        height:100px;
        background-image:url(../img/pinball.png);
      transition:0s;
      }
#bumper5{//float:left;
         //border:solid black;
          margin-top:100px;
          width:100px;
          height:100px;
          background-image:url(../img/pinball.png);
        transition:0s;
        }
#bumper6{background-image:url("../img/pinballred.png");
        //float:right;
        margin-top:100px;
        width:100px;
        margin-left:290px;
        height:100px;
      transition:0s;}
#b1{font-size:40px;
    color:red;
    width:150px;
    position:absolute;
    left:30px;
    opacity:0;
    transition:1s;
    animation:blinker 0.3s infinite;}
#b2{font-size:20px;
    color:red;
     width:150px;
     position:absolute;
     left:-30px;
     opacity:0;
     transition:1s;
     animation:blinker 0.3s infinite;}
#b3{font-size:40px;
    color:red;
    width:150px;
    position:absolute;
    left:4px;
    opacity:0;
    transition:1s;
    animation:blinker 0.3s infinite;}
#b4{font-size:40px;
    color:red;
    width:150px;
     position:absolute;
     left:35px;
     opacity:0;
     transition:1s;
     animation:blinker 0.3s infinite;}
#b5{font-size:40px;
    color:red;
    width:150px;
    position:absolute;
    left:20px;
    opacity:0;
    transition:1s;
    animation:blinker 0.3s infinite;}
@keyframes blinker{
   50%{color:red;}
   50%{color:blue;}
}

#tube{background-image:url(../img/tube.png);
      border:none;
      top:2600px;
      height:800px;
      width:400px;
      z-index:12;
      position:absolute;}

#lp{background-image:url("../img/page-left.png");
      height:240px;
      width:75px;
      left:45px;
      position:absolute;
      display:block;
      transition:1s;
      }

      
#rp{background-image:url("../img/page-right.png");
      height:240px;
      width:75px;
      //top:5900px;
      left:80px;
      position:absolute;
      display:block;
      transition:1s;
}

#container{
            width:200px;
            height:240px;
            top:6000px;
            margin-left:20px;
            position:absolute;
            transition:1s;}

#page1{background-image:url("../img/paper.png");
     border:none;
     width:150px;
     height:250px;
     left:250px;
     color:red;
     margin-top:3400px;
     position:absolute;
     transition: 1s;
     opacity:0;
     
     
     }

#page2{background-image:url("../img/paper.png");
     border:none;
     width:150px;
     height:250px;
     left:270px;
     color:red;
     margin-top:3420px;
     position:absolute;
     transition: 1s;
     transition-delay:0.5s;
     opacity:0;
     
     
     }
     
#page3{background-image:url("../img/paper.png");
     border:none;
     width:150px;
     height:250px;
     left:290px;
     color:red;
     margin-top:3440px;
     position:absolute;
     transition: 1s;
     transition-delay:1s;
     opacity:0;
     
     
     }
#slide{background-image:url("../img/banana.png");
       margin-top:4000px;
       width:200px;
       height:300px;
       left:25px;
       position:absolute;
}

#dollar{font-size:150px;
        margin-top:4300px;
        color:green;
        left:300px;
        position:absolute;
        transition:1s;
        opacity:100;
        animation:1s;
        -webkit-animation: money 1s infinite;
}
/*@keyframes money{
 50%{transform:rotate(120deg);}
 100%{transform:rotate(-120deg);}
}*/

#cpu{background-image:url(../img/computer.png);
     position:absolute;
     width:300px;
     height:300px;
     margin-top:4800px;
}

#square{background-color:red;
        font-family:"Comic Sans MS", cursive, sans-serif;
        width:100px;
        height:100px;
        position:absolute;
        margin-top:5400px;
        tansition:1.5s;
        -webkit-transition: 1.5s;
        animation:square 3s infinite;
}
@keyframes square{
 50%{transform: translateY(50px);}
 100%{transform: translateY(-50px);}
}

#triangle{color:springgreen;
          width:0px;
          height:0px;
          margin-top:5460px;
          left:200px;
          position:absolute;
          border-left: 100px solid transparent;
          border-right: 100px solid transparent;
          border-bottom: 100px solid green;
          -webkit-transition:3s;
          transition:3s;
          animatiom:spinner 2s infinite;
          
}
#sp{top:15px;
    left:-20px;
    position:absolute;
    font-size:20px;
    font-family:"Comic Sans MS", cursive, sans-serif;}
@keyfrrames spinner{
   50%{transfrom:rotate(360deg);}
   100%{transfrom:rotate(-360deg);}
}

#circle{background-color:blue;
        width:150px;
        height:150px;
        border-radius:100%;
        position:absolute;
        left:100px;
        margin-top:5600px;
        -webkit-transition:1.5s;
        animation:circle 3s infinite;
}
#sp2{color:lightblue;
     margin-top:20px;
     position:absolute;
     font-size:24px;
     left:15px;
     top:0px;
     font-family:"Comic Sans MS", cursive, sans-serif;
     }
 @keyframes circle{
 50%{transform: translateX(50px);}
 100%{transform: translateX(-50px);}  
}

#anvil{background-image:url("../img/anvil.png");
      width:400px;
      height:250px;
       position:absolute;
       top:8000px;
       opacity:0;
       transition:.3s;
       z-index:15;}

#ground{border:solid green 2px;
        background-color:springgreen;
        position:absolute;
        height:150px;
        width:400px;
        top:9050px;
        color:darkgreen;
        font-size:30px;}
span{font-size:40px;}
/*these are for the clouds in the background*/
#cloud{background-image:url("../img/clouds-bg.png");
       position:absolute;
       width:400px;
       height:2500px;
       top:-1px;
       z-index:-5;}
       border
/*#cloud2{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:160px;
       left:150px;;
       z-index:-5;}
#cloud3{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:400px;
       left:240px;
       z-index:-5;}
#cloud4{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:300px;
       z-index:-5;}       
#cloud5{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:400px;
       z-index:-5;}
#cloud6{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:500px;
       z-index:-5;}
#cloud7{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:600px;
       z-index:-5;}       
#cloud8{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:700px;
       z-index:-5;}   
#cloud9{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:800px;
       z-index:-5;}
#cloud10{background-image:url("../img/cloud.png");
       position:absolute;
       width:150px;
       height:150px;
       top:900px;
       z-index:-5;}       */